.clr{
	color:white;
}


.fill-clr{
	background-color: rgb(0, 13, 26);
}

.top{
	text-align: right;
	background: black;
	color:white;
}

.space{
	margin-right: 20px;
}

.navline{
	border-bottom: 3px red solid;
}

.b{
	color: rgba(0,0,0,0.4);
}

.pos{
	text-align: center;
}

.size{
	margin-top: 100px;
	margin-bottom: 1250px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 2px solid rgb(26, 140, 255);
}

.link{
	color: white;
	font-size: 22px;
	padding: 8px;
}

.bottom{
	background-color: rgb(0, 0, 51);
	padding: 50px;
}
